.navbar {
  display: flex;
  top: 0.5rem;
  margin-left: 0.5rem;
  height: 2rem;
  margin-top: 0.3rem;
}

.left_navbar {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 2rem;
  cursor: pointer;
}

.menu {
  color: white;
  background-color: rgb(3, 169, 252);
  padding: 0.7rem 0.7rem 2rem 0.7rem;
}

.search {
  display: flex;
  border: 1px solid;
  margin-top: 0.3rem;
  border-radius: 4rem;
  align-items: center;
  width: 30rem;
  justify-content: space-between;
  text-align: center;
}
.search_icon {
  padding: 0.6rem;
  font-size: 1.5rem;
  background-color: rgb(240, 240, 240);
  border-radius: 2rem 0 0 2rem;
}
.search_input input {
  border: none;
  height: 2rem;
  color: gray;
  width: 20rem;
  font-size: 1.5rem;
}

textarea:focus,
input:focus {
  outline: none;
}
.search_close {
  padding: 0.8rem;
  font-size: 1.5rem;
  color: gray;
}

.navbar_left_menu {
  display: flex;
  gap: 2rem;
}

.child {
  display: flex;
  align-items: center;
  background-color: rgb(3, 169, 252);
  border-radius: 5rem;
  width: fit-content;
  padding: 0.5rem;
  height: 2rem;
  color: white;
  font-size: 1.1rem;
  gap:0.3rem;
}
